.about-me--section {
    padding-top: 60px;
    padding-bottom: 50px;
}

.about__list {
  margin-top: 30px;
}

.about__item:not(:first-child) {
  margin-top: 52px;
}

.about-br {
  @media (min-width: $tablet) {
    display: none;
  }
}

.about-br--pc {
    display: none;
    @media (min-width: $tablet) {
        display: block;
    }
}
