.skills__text {
  margin-top: 50px;
  margin-bottom: 70px;
  font-size: 26px;
}

.skills__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  &:not(:first-child) {
    margin-top: 80px;
    @media (min-width: $tablet) {
      margin: 0;
    }
  }
  @media (min-width: $tablet) and (max-width: $pc) {
    &:last-child {
      grid-column: span 2;
    }
  }
}

.skills__list {
  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 80px;
  }
  @media (min-width: $pc) {
    grid-template-columns: 1fr 1fr  1fr;
    row-gap: 120px;
  }
}

.skills-img {
  width: 166px;
}

.skill_caption {
  font-size: 22px;
}
