.stars-container {
    display: flex;
    justify-content: center;
}

.stars_item {
    width: 25px;
    height: 25px;
    &:not(:first-child) {
        margin-left: 5px;
    }
}

.stars_icon {
    width: 100%;
    height: 100%;
    fill: #404040;
}